{% extends 'base.html' %}
{% block content %}
<h3 style="color: rgb(34, 139, 34);">Lista de livros</h3>
<table class="table table-striped mt-3" style="border: 1px solid rgb(60, 179, 113);">
    <thead style="background-color: rgb(60, 179, 113); color: white;">
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Autor</th>
            <th>Editora</th>
            <th>Ano</th>
            <th>Gênero</th>
            <th>Exemplares Disponíveis</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for livro in livros.dados %}
        <tr style="border-bottom: 1px solid rgb(60, 179, 113);">
            <td>{{ livro.id }}</td>
            <td>{{ livro.titulo }}</td>
            <td>{{ livro.autor }}</td>
            <td>{{ livro.editora }}</td>
            <td>{{ livro.anoPublicacao }}</td>
            <td>{{ livro.genero }}</td>
            <td>{{ livro.quantidade_disponivel }}</td>
            <td>{{ livro.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
